---
// Versión extendida de BackgroundGlows para artículos largos.
// Cubre páginas de hasta ~10,000px de alto.
---
<div class="absolute inset-0 w-full overflow-hidden pointer-events-none -z-50">
  <div class="relative w-full h-full">
    <!-- Orb 1: Top-Left (Orange) -->
    <div class="absolute -top-[120px] -left-[160px] w-[540px] h-[540px] bg-brand-orange/20 blur-[120px] rounded-full"></div>
    <!-- Orb 2: Right (Yellow) -->
    <div class="absolute top-[600px] -right-[100px] w-[460px] h-[460px] bg-brand-yellow/15 blur-[120px] rounded-full"></div>
    <!-- Orb 3: Left (Purple) -->
    <div class="absolute top-[1800px] -left-[220px] w-[640px] h-[640px] bg-brand-purple/20 blur-[130px] rounded-full"></div>
    <!-- Orb 4: Right (Orange) -->
    <div class="absolute top-[3000px] right-[50px] w-[500px] h-[500px] bg-brand-orange/15 blur-[120px] rounded-full"></div>
    <!-- Orb 5: Left (Yellow) -->
    <div class="absolute top-[4200px] -left-[150px] w-[600px] h-[600px] bg-brand-yellow/10 blur-[130px] rounded-full"></div>
    <!-- Orb 6: Right (Purple) -->
    <div class="absolute top-[5500px] -right-[50px] w-[650px] h-[650px] bg-brand-purple/15 blur-[140px] rounded-full"></div>
    <!-- Orb 7: Left (Orange) -->
    <div class="absolute top-[6800px] -left-[100px] w-[550px] h-[550px] bg-brand-orange/15 blur-[120px] rounded-full"></div>
    <!-- Orb 8: Right (Yellow) -->
    <div class="absolute top-[8200px] right-[100px] w-[450px] h-[450px] bg-brand-yellow/10 blur-[120px] rounded-full"></div>
    <!-- Orb 9: Left (Purple) -->
    <div class="absolute top-[9600px] -left-[200px] w-[500px] h-[500px] bg-brand-purple/15 blur-[130px] rounded-full"></div>
  </div>
</div>
