---
---
<div class="absolute top-0 left-0 w-full flex justify-center pointer-events-none -z-50">
  <div class="relative w-[1440px] shrink-0">
    <!-- Orb 1: Top-Right (Red/Orange) -->
    <div class="absolute top-[239px] left-[592px] w-[674px] h-[650px] bg-brand-orange/20 blur-[130px] rounded-full"></div>
    
    <!-- Orb 2: Top-Left (Purple) -->
    <div class="absolute top-[835px] left-[-39px] w-[630px] h-[685px] bg-brand-purple/15 blur-[120px] rounded-full"></div>
    
    <!-- Orb 3: Mid-Right (Orange) -->
    <div class="absolute top-[1426px] left-[575px] w-[736px] h-[675px] bg-brand-yellow/15 blur-[140px] rounded-full"></div>
    
    <!-- Orb 4: Mid-Left (Purple) -->
    <div class="absolute top-[2315px] left-[-261px] w-[1133px] h-[722px] bg-brand-purple/10 blur-[150px] rounded-full"></div>
    
    <!-- Orb 5: Bottom-Right (Orange) -->
    <div class="absolute top-[2995px] left-[836px] w-[656px] h-[691px] bg-brand-yellow/20 blur-[120px] rounded-full"></div>
    
    <!-- Orb 6: Bottom-Left (Purple) -->
    <div class="absolute top-[3748px] left-[-236px] w-[719px] h-[574px] bg-brand-purple/15 blur-[120px] rounded-full"></div>

    <!-- ADDED ORBS TO REACH THE BOTTOM (CTA) -->
    
    <!-- Orb 7: Lower Mid-Right (Red) -->
    <div class="absolute top-[4500px] left-[600px] w-[700px] h-[700px] bg-brand-orange/15 blur-[130px] rounded-full"></div>
    
    <!-- Orb 8: Lower Mid-Left (Purple) -->
    <div class="absolute top-[5200px] left-[-200px] w-[650px] h-[650px] bg-brand-purple/10 blur-[120px] rounded-full"></div>
    
    <!-- Orb 9: Bottom-Right (Orange) -->
    <div class="absolute top-[5900px] left-[700px] w-[600px] h-[600px] bg-brand-yellow/15 blur-[120px] rounded-full"></div>
    
    <!-- Orb 10: Bottom-Left (Purple) -->
    <div class="absolute top-[6600px] left-[-100px] w-[500px] h-[500px] bg-brand-purple/10 blur-[110px] rounded-full"></div>
  </div>
</div>
