---
/**
 * BackgroundGlows.astro
 * Componente que renderiza los orbes difuminados de fondo en la landing page.
 * Adaptado a la paleta cromática oficial de Figma: Magenta (#DA2984), Violeta (#A406E9) y Coral (#FA743F).
 */
---
<div class="absolute top-0 left-0 w-full flex justify-center pointer-events-none -z-50">
  <div class="relative w-[1440px] shrink-0">
    <!-- Orb 1: Top-Right (Coral/Naranja de Marca) -->
    <div class="absolute top-[239px] left-[592px] w-[674px] h-[650px] bg-[#FA743F]/20 blur-[130px] rounded-full"></div>
    
    <!-- Orb 2: Top-Left (Violeta de Marca) -->
    <div class="absolute top-[835px] left-[-39px] w-[630px] h-[685px] bg-[#A406E9]/15 blur-[120px] rounded-full"></div>
    
    <!-- Orb 3: Mid-Right (Magenta de Marca) -->
    <div class="absolute top-[1426px] left-[575px] w-[736px] h-[675px] bg-[#DA2984]/15 blur-[140px] rounded-full"></div>
    
    <!-- Orb 4: Mid-Left (Violeta de Marca) -->
    <div class="absolute top-[2315px] left-[-261px] w-[1133px] h-[722px] bg-[#A406E9]/10 blur-[150px] rounded-full"></div>
    
    <!-- Orb 5: Bottom-Right (Magenta de Marca) -->
    <div class="absolute top-[2995px] left-[836px] w-[656px] h-[691px] bg-[#DA2984]/20 blur-[120px] rounded-full"></div>
    
    <!-- Orb 6: Bottom-Left (Violeta de Marca) -->
    <div class="absolute top-[3748px] left-[-236px] w-[719px] h-[574px] bg-[#A406E9]/15 blur-[120px] rounded-full"></div>

    <!-- Orbes del fondo cerca del CTA y Secciones Inferiores -->
    
    <!-- Orb 7: Lower Mid-Right (Coral/Naranja de Marca) -->
    <div class="absolute top-[4500px] left-[600px] w-[700px] h-[700px] bg-[#FA743F]/15 blur-[130px] rounded-full"></div>
    
    <!-- Orb 8: Lower Mid-Left (Violeta de Marca) -->
    <div class="absolute top-[5200px] left-[-200px] w-[650px] h-[650px] bg-[#A406E9]/10 blur-[120px] rounded-full"></div>
    
    <!-- Orb 9: Bottom-Right (Magenta de Marca) -->
    <div class="absolute top-[5900px] left-[700px] w-[600px] h-[600px] bg-[#DA2984]/15 blur-[120px] rounded-full"></div>
    
    <!-- Orb 10: Bottom-Left (Violeta de Marca) -->
    <div class="absolute top-[6600px] left-[-100px] w-[500px] h-[500px] bg-[#A406E9]/10 blur-[110px] rounded-full"></div>
  </div>
</div>
